<div class='rounded shadow-xl'>
  <div class="modal-header mx-24">
    <p class='text-2xl' *ngFor='let agreementInfo of agreementInfo$'> {{agreementInfo.railroadCompany}}
    </p>
    <p class='pt-1 text-xl' *ngFor='let agreementInfo of agreementInfo$'> {{agreementInfo.section}}</p>
  </div>
  <div class="modal-body" *ngFor='let agreementInfo of agreementInfo$'>
    <div class='flex items-start justify-center px-2'>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.agreementNumber}}'>
         <mat-hint class='text-xs text-gray-700'>Agreement Number</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.cdNumber}}'>
         <mat-hint class='text-xs text-gray-700'>CD Number</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.auditNumber}}'>
         <mat-hint class='text-xs text-gray-700'>Audit Number</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.ldNumber}}'>
         <mat-hint class='text-xs text-gray-700'>LD Number</mat-hint>
      </mat-form-field>
    </div>
    <div class='flex items-start justify-center'>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.location}}'>
         <mat-hint class='text-xs text-gray-700'>Location</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.description}}'>
         <mat-hint class='text-xs text-gray-700'>Description</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.county}}'>
         <mat-hint class='text-xs text-gray-700'>County</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.route}}'>
         <mat-hint class='text-xs text-gray-700'>Route</mat-hint>
      </mat-form-field>
    </div>
    <div class='flex items-start justify-center'>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.plansMarked}}'>
         <mat-hint class='text-xs text-gray-700'>Plans Marked</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.rentAmount}}'>
         <mat-hint class='text-xs text-gray-700'>Rent Amount</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <textarea matInput readonly class='form-control pl-2' type='text'
          placeholder='{{agreementInfo.leasePurpose}}'></textarea>
         <mat-hint class='text-xs text-gray-700'>Lease Purpose</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text'
          placeholder='{{agreementInfo.reasonForTermination}}'>
         <mat-hint class='text-xs text-gray-700'>Reason for Termination</mat-hint>
      </mat-form-field>

    </div>

    <div class='flex items-start justify-center'>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.highwayStatus}}'>
         <mat-hint class='text-xs text-gray-700'>Highway Status</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text'
          placeholder='{{agreementInfo.lastAgreementDate}}'>
         <mat-hint class='text-xs text-gray-700'>Last Agreement Date</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.lastAgreementExp}}'>
         <mat-hint class='text-xs text-gray-700'>Last Agreement Expiration Date</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text'
          placeholder='{{agreementInfo.lastAgreementDuration}}'>
         <mat-hint class='text-xs text-gray-700'>Last Agreement Duration</mat-hint>
      </mat-form-field>

    </div>
    <div class='flex items-start justify-center'>

      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text' placeholder='{{agreementInfo.spotRoute}}'>
        <mat-hint class='text-xs text-gray-700'>Spot/Route</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text'
          placeholder='{{agreementInfo.createdBy}} {{agreementInfo.createdOn}}'>
         <mat-hint class='text-xs text-gray-700 text-gray-700'>Created</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text'
          placeholder='{{agreementInfo.modifiedBy}} {{agreementInfo.modifiedOn}}'>
         <mat-hint class='text-xs text-gray-700'>Modified</mat-hint>
      </mat-form-field>
      <mat-form-field appearance='fill' class='pb-12'>
        <input matInput readonly class='form-control pl-2' type='text'
          placeholder='{{agreementInfo.pk}} / {{agreementInfo.fk}}'>
         <mat-hint class='text-xs text-gray-700'>PK/FK</mat-hint>
      </mat-form-field>

    </div>
  </div>
</div>
