<mat-card>
	<mat-card-header class='flex main-header mb-3 w-2/5 p-3 rounded shadow'>
		<mat-icon class='text-white text-6xl mr-16 mt-2'>directions_railway</mat-icon>
		<p class="text-5xl text-white">Railroad Agreement</p>
	</mat-card-header>
</mat-card>

<mat-card>
	<mat-card-header class='header rounded-t'>
		<mat-card-title class='text-white items-center pt-2 text-2xl'>Railroad Agreement</mat-card-title>
	</mat-card-header>
	<mat-card-content class='main-header'>
		<app-railroad-agreements></app-railroad-agreements>

	</mat-card-content>
</mat-card>
